html, body {
	margin: 0;
	background: rgba(46, 50, 66, 1);
}

* {
	box-sizing: border-box;
}

#coverflow_space {
	display: inline-block;
	width: 100%;
	min-height: 640px;
	padding: 120px 0px 200px;
}

#category_card_space {
	width: 100%;
	text-align: center;
	display: none;
	padding: 50px 0px;
}

.category_card {
	text-align: left;
	width: 300px;
	height: 450px;
	border-radius: 8px;
	background-size: cover;
	background-position: center;
	display: inline-block;
	position: relative;
	cursor: default !important;
}

.card_details {
	position: absolute;
	border-radius: 0px 0px 8px 8px;
	padding: 20px 0px;
	padding: 150px 25px 15px 15px;
	right: 0;
	left: 0;
	bottom: 0;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.9));
}

.card_title {
	position: absolute;
	top: 15px;
	left: 15px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 11pt;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1pt;
	background-color: green;
	display: inline-block;
	padding: 4px 7px;
	border-radius: 4px;
	margin-bottom: 10px;
}

.card_desc {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	line-height: 20px;
}

.category_link{
	margin-top: 15px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 3px;
	font-size: 9.5pt;
	background: transparent;
	color: white;
	border: 1px solid #fff;
	padding: 7px 10px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

.ui-coverflow-item {
	filter: blur(1px);
}

.ui-state-active {
	filter: blur(0);
	transition: all 0.15s ease-in-out;
}

#footer {
	padding-top: 100px;
}

.noselect {
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}

.tile_button{
	margin-top: 10px;
	width: 100%;
	display: inline-block;
	padding: 6px 0px;
	text-align: center;
	font-size: 10pt;
	border: 1px solid #fff;
	background: transparent;
	color: white;
	text-decoration: none;font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

@media only screen and (max-width: 1080px) {
	#coverflow_space {
		min-height: 600px;
	}
	.category_card {
		width: 280px;
		height: 420px;
	}
	#footer {
		padding-top: 100px;
	}
}

@media only screen and (max-width: 768px) {
	#coverflow_space {
		min-height: 500px;
	}
	.category_card {
		width: 240px;
		height: 360px;
	}
}