body {
	background: #000;
}

#fp-nav ul li a span {
	background-color: aliceblue;
}

.section .fp-bg {
	background-position: 50% 0px;
	background-size: cover;
	background-repeat: no-repeat;
}

#section_0 .fp-bg {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	transition: transform 1.2s ease;
	will-change: transform;
}

#section_0 .fp-bg.unready {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	transform: scale(1.25);
}

#section_0 .fp-bg.animateBg {
	animation: animatedBackground 60s linear infinite alternate running;
	-webkit-animation: animatedBackground 60s linear infinite alternate
		running;
}

#fp-nav.fp-right {
	background: rgba(50, 50, 50, 0.5);
	border-radius: 17px;
}

h1 {
	color: white;
	font-family: 'Playfair Display', serif;
	font-size: 50pt;
	margin-bottom: 10px;
}

.content {
	box-sizing: border-box;
	padding: 10px 10px 0px 10px;
	height: 100%;
}

.content-slide {
	position: relative;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 24pt;
	color: #fff;
	margin-bottom: 0px;
}

p {
	color: #fff;
	font-size: 14pt;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	margin-bottom: 0px;
	box-sizing: border-box;
	width: 60%;
	position: relative;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	transition: transform 0.75s;
	will-change: transform;
}

.lowered {
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-ms-transform: translateY(100px);
	transform: translateY(100px);
}

.hide {
	display: none;
}

.title-container {
	padding: 50px 50px 50px;
	width: 100%;
	vertical-align: middle;
	box-sizing: border-box;
	position: absolute;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	text-align: left;
	left: 0px;
	bottom: 0px;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	z-index: 1000;
	opacity: 1;
	transition: all 1.5s;
	will-change: transform;
}

.title-container.unready {
	opacity: 0;
	-webkit-transform: translateY(50px);
	-moz-transform: translateY(50px);
	-ms-transform: translateY(50px);
	transform: translateY(50px);
}

.title-container span {
	color: white;
	font-family: 'Assistant', sans-serif;
	font-weight: 200;
	font-size: 15pt;
}

.content-container {
	position: absolute;
	box-sizing: border-box;
	padding: 100px 50px 50px 50px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	z-index: 1000;
	opacity: 1;
	transition: opacity 2s;
}

.faded {
	opacity: 0;
}

.tilt-bar {
	display: none;
}

.mask-container {
	height: 100%;
	z-index: 100;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.top-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 96px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
	padding: 30px 50px;
	z-index: 10000000;
	box-sizing: border-box;
}

.logo {
	height: 100%;
}

.mobile-logo {
	height: 100%;
	display: none;
}

#loading {
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 999999999;
	background-color: black;
	pointer-events: none;
}

#loading img {
	width: 40%;
	max-width: 100px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: auto;
	margin: auto;
	left: 50%;
}

.hint {
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 99999999;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	left: 200%;
}

.hint-content {
	width: 80%;
	background: rgba(0, 0, 0, 0.6);
	padding: 15px 15px 30px;
	box-sizing: border-box;
	top: 50%;
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.8em;
}

#swipe-up {
	display: inline-block;
	padding: 20px 0px 30px;
	font-size: 3em;
	position: relative;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	animation: swipeUp 1.2s linear infinite running;
	-webkit-animation: swipeUp 1.2s linear infinite running;
}

#double-tap {
	display: inline-block;
	padding: 30px 0px 20px;
	font-size: 3em;
	position: relative;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	animation: doubleTap 2s linear infinite running;
	-webkit-animation: doubleTap 2s linear infinite running;
}

#phone-tilt {
	display: inline-block;
	padding: 20px 0px 20px;
	font-size: 3em;
	position: relative;
	animation: phoneTilt 1s linear infinite running;
	-webkit-animation: phoneTilt 1s linear infinite running;
}

.hint-content a {
	background-color: transparent;
	border: 1px solid white;
	padding: 2px 8px 0px;
	border-radius: 3px;
	margin-top: 20px;
	display: inline-block;
	color: white;
	font-size: 0.9em;
	font-weight: 500;
	text-decoration: none;
}

.hint-content a:hover {
	background: white;
	color: black;
}

@
keyframes animatedBackground {
  	0%, 100% {
    	background-position: 50% 0;
  	}
  	25% {
    	background-position: 0 0;
  	}
  	75% {
    	background-position: 100% 0;
  	}
}

@-webkit-keyframes animatedBackground {
  	0%, 100% {
    	background-position: 50% 0;
  	}
  	25% {
    	background-position: 0 0;
  	}
  	75% {
    	background-position: 100% 0;
  	}
}

@keyframes swipeUp {
  	0% {
    	-webkit-transform: translateY(20px) rotate(-45deg);
    	-moz-transform: translateY(20px) rotate(-45deg);
    	-ms-transform: translateY(20px) rotate(-45deg);
    	transform: translateY(20px) rotate(-45deg);
    	opacity: 0;
  	}
  	100% {
    	-webkit-transform: translateY(-20px) rotate(-45deg);
    	-moz-transform: translateY(-20px) rotate(-45deg);
    	-ms-transform: translateY(-20px) rotate(-45deg);
    	transform: translateY(-20px) rotate(-45deg);
    	opacity: 1;
  	}
}

@-webkit-keyframes swipeUp {
  	0% {
    	-webkit-transform: translateY(20px) rotate(-45deg);
    	-moz-transform: translateY(20px) rotate(-45deg);
    	-ms-transform: translateY(20px) rotate(-45deg);
    	transform: translateY(20px) rotate(-45deg);
    	opacity: 0;
  	}
  	100% {
    	-webkit-transform: translateY(-20px) rotate(-45deg);
    	-moz-transform: translateY(-20px) rotate(-45deg);
    	-ms-transform: translateY(-20px) rotate(-45deg);
    	transform: translateY(-20px) rotate(-45deg);
    	opacity: 1;
  	}
}

@keyframes doubleTap {
  	0% {
    	-webkit-transform: translateY(-20px) rotate(-30deg) scale(1);
    	-moz-transform: translateY(-20px) rotate(-30deg) scale(1);
    	-ms-transform: translateY(-20px) rotate(-30deg) scale(1);
    	transform: translateY(-20px) rotate(-30deg) scale(1);
  	}
  	20%{
  		-webkit-transform: translateY(10px) rotate(-30deg) scale(0.75);
  		-moz-transform: translateY(10px) rotate(-30deg) scale(0.75);
  		-ms-transform: translateY(10px) rotate(-30deg) scale(0.75);
  		transform: translateY(10px) rotate(-30deg) scale(0.75);
  	}
  	26%{
  		-webkit-transform: translateY(0px) rotate(-30deg) scale(0.85);
  		-moz-transform: translateY(0px) rotate(-30deg) scale(0.85);
  		-ms-transform: translateY(0px) rotate(-30deg) scale(0.85);
  		transform: translateY(0px) rotate(-30deg) scale(0.85);
  	}
  	32%{
  		-webkit-transform: translateY(10px) rotate(-30deg) scale(0.75);
  		-moz-transform: translateY(10px) rotate(-30deg) scale(0.75);
  		-ms-transform: translateY(10px) rotate(-30deg) scale(0.75);
  		transform: translateY(10px) rotate(-30deg) scale(0.75);
  	}
  	52% {
    	-webkit-transform: translateY(-20px) rotate(-30deg) scale(1);
    	-moz-transform: translateY(-20px) rotate(-30deg) scale(1);
    	-ms-transform: translateY(-20px) rotate(-30deg) scale(1);
    	transform: translateY(-20px) rotate(-30deg) scale(1);
  	}
  	100% {
    	-webkit-transform: translateY(-20px) rotate(-30deg) scale(1);
    	-moz-transform: translateY(-20px) rotate(-30deg) scale(1);
    	-ms-transform: translateY(-20px) rotate(-30deg) scale(1);
    	transform: translateY(-20px) rotate(-30deg) scale(1);
  	}
}

@-webkit-keyframes doubleTap {
  	0% {
    	-webkit-transform: translateY(-20px) rotate(-30deg) scale(1);
    	-moz-transform: translateY(-20px) rotate(-30deg) scale(1);
    	-ms-transform: translateY(-20px) rotate(-30deg) scale(1);
    	transform: translateY(-20px) rotate(-30deg) scale(1);
  	}
  	20%{
  		-webkit-transform: translateY(10px) rotate(-30deg) scale(0.75);
  		-moz-transform: translateY(10px) rotate(-30deg) scale(0.75);
  		-ms-transform: translateY(10px) rotate(-30deg) scale(0.75);
  		transform: translateY(10px) rotate(-30deg) scale(0.75);
  	}
  	26%{
  		-webkit-transform: translateY(0px) rotate(-30deg) scale(0.85);
  		-moz-transform: translateY(0px) rotate(-30deg) scale(0.85);
  		-ms-transform: translateY(0px) rotate(-30deg) scale(0.85);
  		transform: translateY(0px) rotate(-30deg) scale(0.85);
  	}
  	32%{
  		-webkit-transform: translateY(10px) rotate(-30deg) scale(0.75);
  		-moz-transform: translateY(10px) rotate(-30deg) scale(0.75);
  		-ms-transform: translateY(10px) rotate(-30deg) scale(0.75);
  		transform: translateY(10px) rotate(-30deg) scale(0.75);
  	}
  	52% {
    	-webkit-transform: translateY(-20px) rotate(-30deg) scale(1);
    	-moz-transform: translateY(-20px) rotate(-30deg) scale(1);
    	-ms-transform: translateY(-20px) rotate(-30deg) scale(1);
    	transform: translateY(-20px) rotate(-30deg) scale(1);
  	}
  	100% {
    	-webkit-transform: translateY(-20px) rotate(-30deg) scale(1);
    	-moz-transform: translateY(-20px) rotate(-30deg) scale(1);
    	-ms-transform: translateY(-20px) rotate(-30deg) scale(1);
    	transform: translateY(-20px) rotate(-30deg) scale(1);
  	}
}

@keyframes phoneTilt {
  	0% {
  		-webkit-tranform: rotate(0deg);
  		-moz-tranform: rotate(0deg);
  		-ms-tranform: rotate(0deg);
  		tranform: rotate(0deg);
  	}
  	25%{
  		-webkit-transform: rotate(15deg);
  		-moz-transform: rotate(15deg);
  		-ms-transform: rotate(15deg);
  		transform: rotate(15deg);
  	}
  	75%{
  		-webkit-transform: rotate(-15deg);
  		-moz-transform: rotate(-15deg);
  		-ms-transform: rotate(-15deg);
  		transform: rotate(-15deg);
  	}
  	100% {
  		-webkit-transform: rotate(0deg);
  		-moz-transform: rotate(0deg);
  		-ms-transform: rotate(0deg);
  		transform: rotate(0deg);
  	}
}

@-webkit-keyframes phoneTilt {
  	0% {
  		-webkit-tranform: rotate(0deg);
  		-moz-tranform: rotate(0deg);
  		-ms-tranform: rotate(0deg);
  		tranform: rotate(0deg);
  	}
  	25%{
  		-webkit-transform: rotate(15deg);
  		-moz-transform: rotate(15deg);
  		-ms-transform: rotate(15deg);
  		transform: rotate(15deg);
  	}
  	75%{
  		-webkit-transform: rotate(-15deg);
  		-moz-transform: rotate(-15deg);
  		-ms-transform: rotate(-15deg);
  		transform: rotate(-15deg);
  	}
  	100% {
  		-webkit-transform: rotate(0deg);
  		-moz-transform: rotate(0deg);
  		-ms-transform: rotate(0deg);
  		transform: rotate(0deg);
  	}
}

.footer-slide {
	width: 100%;
	max-width: 720px;
	margin: auto;
	padding: 0px 15px;
	box-sizing: border-box;
	color: white;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	position: relative;
}

p.instruction {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 16pt;
	width: 100%;
	margin: 80px 0px 20px;
	display: inline-block;
}

.share {
	text-decoration: none;
	padding: 0px 10px 0px 0px;
}

.fb {
	color: #3B5998;
}

.tw {
	color: #1DA1F2;
}

.wa{
	color: #25D366;
}

.gplus {
	color: #d34836;
}

.lkdn {
	color: #0077B5;
}

.pint {
	color: #c8232c;
}

.share i {
	font-size: 36pt;
}

.bottom {
	bottom: 0;
	width: 100%;
	left: 0;
	position: absolute;
	box-sizing: border-box;
	padding: 60px 15px;
}

#early_access {
	display: none;
	color: white;
	font-size: 1em;
	border-radius: 3px;
	padding: 8px 14px;
	text-decoration: none;
	border: 1px solid white;
	text-transform: uppercase;
	font-weight: 300;
	transition: all 0.4s;
}

#early_access:hover {
	color: black;
	background: white;
}

.bottom span {
	position: relative;
	bottom: 8px;
	font-size: 12pt;
}

#footer_logo {
	height: 30px;
}

#progress {
	position: fixed;
	width: 4px;
	top: 0px;
	height: 0;
	right: 0px;
	background: rgba(0, 0, 0, 1);
	z-index: 99;
	transition: height 0.5s ease;
}

#progressBg {
	position: fixed;
	width: 4px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	background: rgba(180, 180, 180, 0.5);
	z-index: 98;
}

#fp-nav {
	display: none !important;
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 960px) {
	h1 {
		font-size: 32pt;
		line-height: 36pt;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 24pt;
		line-height: 28pt;
		margin-bottom: 10px;
	}
	#fp-nav.fp-right {
		right: 0px;
		background: none;
	}
	#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span,
		.fp-slidesNav ul li:hover a.active span {
		height: 10px;
		width: 10px;
		margin: -5px 0 0 -5px;
	}
	.section .fp-bg {
		background-size: cover;
	}
	.no-animation {
		animation: none !important;
		-webkit-animation: none !important;
	}
	.title-container {
		padding: 60px 40px 15px 15px;
	}
	.title-container span {
		font-size: 12pt;
	}
	.content-container {
		padding: 100px 40px 15px 15px;
		width: auto;
	}
	h3 {
		font-size: 15pt;
		margin-bottom: 0px;
		letter-spacing: 0.2pt;
	}
	p {
		margin-top: 10px;
		margin-bottom: 0px;
		font-size: 11.5pt;
		line-height: 17pt;
		width: 100%;
	}
	.top-bar {
		height: 58px;
		background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
		padding: 15px;
	}
	.logo {
		display: none;
	}
	.mobile-logo {
		display: inline-block;
	}
	p.instruction {
		font-size: 1em;
		margin: 40px 0px 10px;
	}
	.share i {
		font-size: 3em;
	}
	#early_access {
		font-size: 0.85em;
		padding: 6px 10px;
	}
	.bottom span {
		font-size: 12pt;
		bottom: 9px;
	}
	.hint {
		left: 0;
	}
}

@media ( min-aspect-ratio : 1/1) {
	.mask-container {
		display: none !important;
	}
}

@media ( min-aspect-ratio : 1/1) and (max-width: 600px) {
	p.instruction {
		margin: 30px 0px 20px;
	}
	.bottom {
		padding: 30px 0px;
	}
}